<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue购物车</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            width: 40%;
            margin: 100px auto;
        }

        .removed {
            color: gray;
        }

        .removed label {
            text-decoration: line-through;
        }

        ul {
            border: 1px solid black;
            margin-top: 30px;
        }

        ul li {
            list-style: none;
        }
    </style>
</head>

<body>
    <div class="container" id="app">
        <h2>{{ title }}</h2>
        <div class="input-group">
            <input v-model='newItem' v-on:keyup.enter='showItem' type="text" placeholder="输入你想购买的物品">
            <span class="input-group-btn">
                <button v-on:click="addItem" type="button" class="js-add btn btn-default">添加到购物车</button>
            </span>
        </div>
        <ul>
            <!--v-bind  绑定点击事件-->
            <li v-for="item in items" v-bind:class="{ 'removed':item.checked }">
                <!-- v-for 遍历items -->
                <div class="checkbox">
                    <label for="">
                        <input type="checkbox" class="js-item" v-model='item.checked'> {{ item.text }}
                    </label>
                </div>
            </li>
        </ul>
        <!-- 修改标题 -->
        <div class="footer">
            <span>改变你的标题</span>
            <input v-model="title">
            <!-- v-model  双向数据绑定 -->
        </div>
</body>
<!-- <script src="https://cdn.bootcss.com/vue/2.6.11/vue.esm.js"></script> -->
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script>
    // var app = new Vue({
    //     el: '#app',
    //     data: {
    //         items: ['苹果', '电脑'],
    //         title: "我的购物车",
    //     }
    // })
    var data = {
        items: [{
                text: '苹果',
                checked: true
            },
            {
                text: '电脑',
                checked: true
            }
        ],
        title: "我的购物车",
        newItem: ''
    }
    // 实例化Vue对象
    new Vue({
        el: "#app",
        data: data,
        methods: {
            addItem: function () {
                var text;
                text = this.newItem.trim()
                if (text) {
                    this.items.push({
                        text: text,
                        checked: false
                    })
                };
                this.newItem = ''
            },
            showItem:function(){

            }
        }
    })
</script>

</html>